.title{
    margin-top: 50%;
}

.Card1{
    color:forestgreen;
    font-size:xx-large;
}
.Card2{
    color:forestgreen;
    font-size:xx-large;
}

.Card3{
    color:forestgreen;
    font-size:xx-large;
}